<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a06a21a6-9517-432d-9c55-75bc08854c32/resourceGroups/iskraemeco/providers/Microsoft.Web/sites/django-wfm</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://django-wfm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>9e175356-65de-4bf2-a381-85d741a35fb3</ProjectGuid>
    <PublishUrl>https://django-wfm.scm.azurewebsites.net/</PublishUrl>
    <UserName>$django-wfm</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>