<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/a06a21a6-9517-432d-9c55-75bc08854c32/resourceGroups/iskraemeco/providers/Microsoft.ApiManagement/service/WFMapi/apis/django-wfm-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/a06a21a6-9517-432d-9c55-75bc08854c32/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/WFM20220112155502</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://wfm20220112155502.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9e175356-65de-4bf2-a381-85d741a35fb3</ProjectGuid>
    <PublishUrl>https://wfm20220112155502.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WFM20220112155502</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>